body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh
}

#gameboard {
    /**
    * Position relative so that canvas elements
    * inside of it will be relative to the parent
    */
    position: relative;
    margin: auto;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    padding: 0;
    width: 96vmin;
    height: 96vmin;
}

#gameboard canvas {
    /**
    * Position absolute provides canvases to be able
    * to be layered on top of each other
    * Be sure to remember a z-index!
    */
    position: absolute;
}

canvas {
    /**
    * Set transparent to let any other canvases render through
    */
    background-color: transparent;
}

#snakeboard {
    z-index: 2;
}

#bg_static {
    z-index: 1;
}