body {
    overflow: hidden;
    margin: 0;
    padding: 0
}

#viewport {
    /**
    * Position relative so that canvas elements
    * inside of it will be relative to the parent
    */
    position: relative;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#viewport canvas {
    /**
    * Position absolute provides canvases to be able
    * to be layered on top of each other
    * Be sure to remember a z-index!
    */
    position: absolute;
}

canvas {
    /**
    * Set transparent to let any other canvases render through
    */
    background-color: transparent;
}

#snakeboard {
    z-index: 2;
}

#bg_static {
    z-index: 1;
}